@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.nav-container{
    display: flex;
    justify-content: end;
    height: 100px;
}
.nav-list{
    padding-right: 50px;
    display: flex;
    width: 20%;
    justify-content: end;
    align-items: center;
}
.nav-item{
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.nav-item .nav-links {
    list-style: none;
}
.nav-item .nav-links a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.heading{
    display: flex;
    justify-content: center;
}
.heading .sub-div {
    text-align: center;
    width: 40%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
    margin-bottom: 50px; 
}
.content-container{
    display: flex;
    justify-content: center;
    height: 400px;
}
.content-container .boxs{
    position: relative;
    display:flex;
    justify-content: space-around;
    width: 100%;
}
.content-container .boxs .box1{
    align-items: center;
    flex-direction: column;
    display:flex;
   width: 40%;
   background-color: rgba(117, 117, 117, 0.219);
   border-radius: 20px;
   position: relative;
}
.content-container .boxs .box1 .box1-title{
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}
.content-container .boxs .box2 .box2-title{
    font-family: 'Poppins', sans-serif;
    margin: 17px;
}
.content-container .boxs .box2{
    align-items: center;
    flex-direction: column;
    display:flex;
   width: 40%;
   background-color: rgba(117, 117, 117, 0.219);
   border-radius: 20px;
}
.content-container .boxs .box1 .btn-1{
    display: flex;
    justify-content: center;
}
.input-box1{
    width: 400px;
    height:100px;
    position: relative;
    padding-top: 50px;
    text-align: center;
    margin: 30px 0;
    font-family: 'Poppins', sans-serif;
}
.input-box2{
    padding-top: 30px;
    text-align: center;
    width:400px;
    height:100px;
    position: relative;
    margin: 30px 0;
    font-family: 'Poppins', sans-serif;
}

.btn-1 input{
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(16, 197, 61);
    color: white;
    font-family: 'Poppins', sans-serif;
}
.btn-2 input{
    border: none;
    margin-top: 10px;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(197, 58, 16);
    color: white;
    font-family: 'Poppins', sans-serif;
}